<ion-view view-title="About Card Catalog">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Library Card Catalog App
      </div>
      <div class="item item-text-wrap">
        <p>Version 0.0.1</p>
        <p>2016-09-25</p>
      </div>
    </div>
    <div class="card">

      <h3>Before you Start</h3>
      <ul>
       <li>Set set your user name. This is required. It can be any short string</li>
       <li>Use the Preferences entry in the Main Menu</li>
      </ul>

      <h3>Manage Books</h3>
      <ul>
       <li>Open Main menu: Sweep right or touch icon in upper-right of screen</li>
       <li>The Book menu item lists all books</li>
       <li>Search and create new books from the home page</li>
       <li>The app requires permission to use the camera (for scanning barcodes)</li>
      </ul>
      <h3>Scan Barcodes and Search</h3>
      <ul>
        <li>Start barcode scanner from Home page</li>
        <li>Seach for a record with the Search for ISBN button</li>
        <li>If a book with the ISBN is not found, you can create a new record</li>
      </ul>
      <h3>Enter Book Data</h3>
      <ul>
        <li>Start from New Book botton on Home page, or the New Book button on the Book List</li>
        <li>Use Get Book Details button to fill in the Title, Author and Publisher from the online ISBN database</li>
        <li>Use the Avilaibility tag to record the Location of the book and if it is available for loan</li>
      </ul>
      <h3>Synchronize with the Server</h3>
      <ul>
        <li>Use the Synchronize entry in the main menu</li>
        <li>Download server records with the Download button</li>
        <li>Upload local records with the Upload button</li>
      </ul>
    </div>
  </ion-content>
</ion-view>
