<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Contact Details
      </div>
      <div class="item item-text-wrap">
        <b>Alan Hodgkinson</b><br/>
        <br/>
        c/o SoftXS GmbH<br/>
        Alpenstrasse 14<br/>
        6300 Zug<br/>
        Switzerland<br/>
        <br/>
        <i class="icon ion-ios-telephone"></i>: +41-41-511-9776<br/><br/>
        <i class="icon ion-email"></i>: <a href="mailto:works@softxs.ch">works@softxs.ch</a><br/><br/>
        <i class="icon ion-link"></i>: <a href="http://www.softxs.ch">www.softxs.ch</a><br/>
        <br/>
      </div>
      <div class="item item-text-wrap">
        <p>Specialist in Android Apps, with a database back-end, that operate without a network connection and can be
        be synchronized when you are back online.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
